@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.linear-gradient-bg-screen{
  background: linear-gradient(90deg, #FF3859 0%, #330270 100%);
}

.linear-gradient-bg-paylink{
  background: linear-gradient(90deg, #4301E9 0%, #4907f0b6 100%);
}

.linear-gradient-bg-navigationapp{
background: linear-gradient(90deg, #4301E9 0%, #7049d5 80%);
}


/* scroll bar styles */
*::-webkit-scrollbar {
  width: 10px; 
  height:10px;              /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: #b0b0b05e;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid transparent;  /* creates padding around scroll thumb */
}